/*EDITAR*/

/*<svg xmlns="http://www.w3.org/2000/svg" aria-label="Nuevo mensaje" class="_8-yf5 " fill="currentColor" viewBox="0 0 44 44"><path d="M33.7 44.12H8.5a8.41 8.41 0 01-8.5-8.5v-25.2a8.41 8.41 0 018.5-8.5H23a1.5 1.5 0 010 3H8.5a5.45 5.45 0 00-5.5 5.5v25.2a5.45 5.45 0 005.5 5.5h25.2a5.45 5.45 0 005.5-5.5v-14.5a1.5 1.5 0 013 0v14.5a8.41 8.41 0 01-8.5 8.5z"></path><path d="M17.5 34.82h-6.7a1.5 1.5 0 01-1.5-1.5v-6.7a1.5 1.5 0 01.44-1.06L34.1 1.26a4.45 4.45 0 016.22 0l2.5 2.5a4.45 4.45 0 010 6.22l-24.3 24.4a1.5 1.5 0 01-1.02.44zm-5.2-3h4.58l23.86-24a1.45 1.45 0 000-2l-2.5-2.5a1.45 1.45 0 00-2 0l-24 23.86z"></path><path d="M38.2 14.02a1.51 1.51 0 01-1.1-.44l-6.56-6.56a1.5 1.5 0 012.12-2.12l6.6 6.6a1.49 1.49 0 010 2.12 1.51 1.51 0 01-1.06.4z"></path></svg>*/

/*BASURA*/

/*<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 59 59" style="enable-background:new 0 0 59 59;" xml:space="preserve"><g><path d="M29.5,51c0.552,0,1-0.447,1-1V17c0-0.553-0.448-1-1-1s-1,0.447-1,1v33C28.5,50.553,28.948,51,29.5,51z"></path><path d="M19.5,51c0.552,0,1-0.447,1-1V17c0-0.553-0.448-1-1-1s-1,0.447-1,1v33C18.5,50.553,18.948,51,19.5,51z"></path><path d="M39.5,51c0.552,0,1-0.447,1-1V17c0-0.553-0.448-1-1-1s-1,0.447-1,1v33C38.5,50.553,38.948,51,39.5,51z"></path><path d="M52.5,6H38.456c-0.11-1.25-0.495-3.358-1.813-4.711C35.809,0.434,34.751,0,33.499,0H23.5c-1.252,0-2.31,0.434-3.144,1.289   C19.038,2.642,18.653,4.75,18.543,6H6.5c-0.552,0-1,0.447-1,1s0.448,1,1,1h2.041l1.915,46.021C10.493,55.743,11.565,59,15.364,59   h28.272c3.799,0,4.871-3.257,4.907-4.958L50.459,8H52.5c0.552,0,1-0.447,1-1S53.052,6,52.5,6z M21.792,2.681   C22.24,2.223,22.799,2,23.5,2h9.999c0.701,0,1.26,0.223,1.708,0.681c0.805,0.823,1.128,2.271,1.24,3.319H20.553   C20.665,4.952,20.988,3.504,21.792,2.681z M46.544,53.979C46.538,54.288,46.4,57,43.636,57H15.364   c-2.734,0-2.898-2.717-2.909-3.042L10.542,8h37.915L46.544,53.979z"></path></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>*/

/*X*/
/*<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 1143 1143"><defs><style type="text/css">    .fil0 {fill:none}    .fil1 {fill:#999999}   </style></defs><g id="Capa_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><rect class="fil0" width="1143" height="1143"></rect><path class="fil1" d="M672 572l428 -428c28,-28 28,-73 0,-101 -28,-28 -73,-28 -101,0l-428 428 -428 -428c-28,-28 -73,-28 -101,0 -28,28 -28,73 0,101l428 428 -428 428c-28,28 -28,73 0,101 14,14 32,21 50,21 18,0 36,-7 50,-21l428 -428 428 428c14,14 32,21 50,21 18,0 36,-7 50,-21 28,-28 28,-73 0,-101l-428 -428zm0 0z"></path></g></svg>*/

/*TILDE*/

/*<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 1239 1239"><defs><style type="text/css">    .fil0 {fill:none}    .fil1 {fill:#999999}   </style></defs><g id="Capa_x0020_1"><metadata id="CorelCorpID_0Corel-Layer"></metadata><rect class="fil0" width="1239" height="1239"></rect><path class="fil1" d="M1207 95c-34,-33 -88,-33 -123,0l0 0 -636 859 -291 -291c-34,-35 -90,-36 -125,-2 -35,34 -36,90 -2,125 1,1 1,1 2,2l353 353c34,34 90,34 125,0l699 -922c34,-35 33,-91 -2,-125z"></path></g></svg>*/

/*PEDIDOS*/

/*<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr"><g><path d="M19.75 22H4.25C3.01 22 2 20.99 2 19.75V4.25C2 3.01 3.01 2 4.25 2h15.5C20.99 2 22 3.01 22 4.25v15.5c0 1.24-1.01 2.25-2.25 2.25zM4.25 3.5c-.414 0-.75.337-.75.75v15.5c0 .413.336.75.75.75h15.5c.414 0 .75-.337.75-.75V4.25c0-.413-.336-.75-.75-.75H4.25z"></path><path d="M17 8.64H7c-.414 0-.75-.337-.75-.75s.336-.75.75-.75h10c.414 0 .75.335.75.75s-.336.75-.75.75zm0 4.11H7c-.414 0-.75-.336-.75-.75s.336-.75.75-.75h10c.414 0 .75.336.75.75s-.336.75-.75.75zm-5 4.11H7c-.414 0-.75-.335-.75-.75s.336-.75.75-.75h5c.414 0 .75.337.75.75s-.336.75-.75.75z"></path></g></svg>*/


/*

carrito

subtotal

acciones


seguir comprando

*/


/*copyright
&copy;
©

*/

nav{
    height: 58px;
    background: rgb(23, 100, 74);


    position: fixed;
    left: 0;
    right: 0;
    
    z-index: 10;
    transition: .5s;
    font-family: 'Sura', serif;

}

.conteiner__nav{
    display: flex;
    justify-content: space-evenly;

    margin: 11px auto;

}

/*
.logo{

}
*/


.logo a{
    text-decoration: none;
}

.logo a h1{
    color: #fff;
}


.conteiner__input{
    display: flex;
    border-radius: 15px;
}

.conteiner__input input{
    width: 22em;
    height: 35px;
    padding: 5px 40px 5px 10px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    

}


.conteiner__input .icon__search{
    width: 35px;
    height: 35px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.icon__search{
    border: none;
    background: #fff;
    cursor: pointer;
}

.icon__search svg{
    margin: 5px;
    fill: #2c2c2c;
}

.icon__voz{
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    margin: 0px 5px;
    cursor: pointer;
    border: none;
}

.icon__voz svg{
    padding: 4px;
}





.carrito__perfil{
    width: 70px;
    display: flex;
    justify-content: space-evenly;
    margin: auto 0;

}


.carrito__perfil a{
    color: #fff;
    text-decoration: none;
}

.carrito__perfil .carrito{
    margin: 0px 10px;

    
}

.carrito__perfil .carrito .icon__carrito{
    width: 25px;
    fill: #fff;
}



.carrito__perfil .perfil{
    margin: 0px 10px;
    
}



.carrito__perfil .perfil .icon__perfil{
    width: 25px;
    fill: #fff;
}





.prueba{
    width: 300px;
    height: 300px;
    max-width: 1000px;
    position: absolute;
    background: red;
    
    left: 0;
    right: 0;
    margin: 65px auto;
}








/*----BTN----*/


#hamburguesa button{
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

#hamburguesa button span{
    border-radius: 5px;
    background: #ffffff;
    display: block;
    width: 60%;
    margin: 0px auto;
    height: 2.5px;

    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#hamburguesa button.open .top-line{
    animation-name: top-line-animation;
}
#hamburguesa button.open .middle-line{
    animation-name: middle-line-animation;
}
#hamburguesa button.open .bottom-line{
    animation-name: bottom-line-animation;
}

#hamburguesa button .top-line{
    animation-name: top-line-animation-close;
}
#hamburguesa button .middle-line{
    animation-name: middle-line-animation-close;
}
#hamburguesa button .bottom-line{
    animation-name: bottom-line-animation-close;
}


@keyframes top-line-animation{
    50%, 100%{
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }
}
@keyframes bottom-line-animation{
    50%, 100%{
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
}
@keyframes middle-line-animation{
    20%, 100%{
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
}


@keyframes top-line-animation-close{
    0%{
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }

    50%, 100%{
        margin: 3px auto;
        transform: translateY(0px) rotate(0deg);

    }
}

@keyframes middle-line-animation-close{
    0%{
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
    20%, 100%{
        margin: 0 auto;
        width: 60%;
        opacity: 1;
    }
}


@keyframes bottom-line-animation-close{
    0%{
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
    50%, 100%{
        margin: 3px auto;
        transform: translateY(0px) rotate(0deg);
    }
}






@media screen and (min-width: 768px){
    
}

@media screen and (min-width: 576px){

}